# Set your access key and secret key here for testing, BUT DON'T COMMIT OR PUSH TO GIT!
# Go here to learn how to ignore files in git: http://help.github.com/ignore-files/
aws.accessKey=
aws.secretKey=
